name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          buildkitd-flags: --debug

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/light-gbm-materials:latest
            ghcr.io/${{ github.repository_owner }}/light-gbm-materials:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/light-gbm-materials:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/light-gbm-materials:cache,mode=max

      - name: Delete old Docker images
        uses: actions/delete-package-versions@v5
        with:
          package-name: light-gbm-materials
          package-type: 'container'
          min-versions-to-keep: '1'
          delete-only-untagged-versions: 'true'
